<!DOCTYPE html>
<html>
	<head>
		<title>Macskás blog - Fajták</title>
		<% include ../../common/head %>
	</head>
	<body>
		
		<% include ../../common/header %>
		
		<div class="container">
			<div class="szovegdoboz">
				<h1 class="fancy_text"><center>Macskafajták</center></h1>
				<br>
				<% if (login) { %>
				<a class="btn btn-primary" href="/bejegyzesedit/new">Új bejegyzés</a>
				<% } %>
			</div>
			<div class="szovegdoboz">
				<hr class="fancy_hr_egyeb">
				<% for(var i=0; i<bejegyzesek.length;i++){
				if (typeof !user){
				$enyem=false
				} else{
				$enyem=(user.username==bejegyzesek[i].username)
				}
				$first=(bejegyzesek[0]==bejegyzesek[i])
				if ($enyem) { %>
				
				<% if ($first) { %>
				<div class="row">
					<div class="col-md-5">
						<img class="img-fluid rounded mb-3 mb-md-0" src="<%= bejegyzesek[i].kep %>" alt="">
					</div>
					<div class="col-md-7">
						<h3 class="fancy_text"><%= bejegyzesek[i].cim %></h3>
						<p class="uploader">Feltöltötte: <%= bejegyzesek[i].username %></p>
						<div class="btn-group" role="group" aria-label="Basic example">
							<div class="wrapper">
								<a class="buttonDiv_sample left" href="/bejegyzes/<%= bejegyzesek[i]._id %>">
							    	<span>Tovább</span>
							  	</a>
					    		<a class="buttonDiv_sample right" href="/bejegyzesedit/edit/<%= bejegyzesek[i]._id %>">
							    	<span>Szerkesztés</span>
							  	</a>
							</div>
						</div>
					</div>
				</div>
				<hr class="fancy_hr_egyeb">
				<% }else { %>
				<div class="row">
					<div class="col-md-5">
						<img class="img-fluid rounded mb-3 mb-md-0" src="<%= bejegyzesek[i].kep %>" alt="">
					</div>
					<div class="col-md-7">
						<h3><%= bejegyzesek[i].cim %></h3>
						<h4 class="fancy_text_egyeb">Típus: <%= bejegyzesek[i].tartalom %></h4>
						<p class="uploader">Feltöltötte: <%= bejegyzesek[i].username %></p>
						<a class="btn btn-secondary" href="#">Szerkesztés</a>
					</div>
				</div>
				<hr class="fancy_hr_egyeb">
				<% } %>
				
				<% }else { %>
				
				<% if ($first) { %>
				<div class="row">
					<div class="col-md-5">
						<img class="img-fluid rounded mb-3 mb-md-0" src="<%= bejegyzesek[i].kep %>" alt="">
					</div>
					<div class="col-md-7">
						<h3 class="fancy_text_H"><%= bejegyzesek[i].cim %></h3>
						<p class="uploader">Feltöltötte: <%= bejegyzesek[i].username %></p>
						<a class="btn btn-primary" href="/bejegyzes/<%= bejegyzesek[i]._id %>">Tovább</a>
					</div>
				</div>
				<hr class="fancy_hr_egyeb">
				<% }else { %>
				<div class="row">
					<div class="col-md-5">
						<img class="img-fluid rounded mb-3 mb-md-0" src="<%= bejegyzesek[i].kep %>" alt="">
					</div>
					<div class="col-md-7">
						<h3 class="fancy_text_H"><%= bejegyzesek[i].cim %></h3>
						<h4 class="fancy_text_egyeb">Típus: <%= bejegyzesek[i].tartalom %></h4>
						<p class="uploader">Feltöltötte: <%= bejegyzesek[i].username %></p>
					</div>
				</div>
				<hr class="fancy_hr_egyeb">
				<% } %>
				
				<% } %>
				<% } %>
				<% if (bejegyzesek.length == 0) { %>
				<h2>Sorry, nincs bejegyzés ebben a témában</h2>
				<hr class="fancy_hr_egyeb">
				<% } %>
				
			</div>
			<div class="szovegdoboz">
				<div class="btn-group" role="group" aria-label="Basic example">

					<div class="wrapper">
						<a class="buttonDiv_sample left" href="/fajtak">
							    	<span>Az oldal tetejére</span>
							  		</a>
					     <a class="buttonDiv_sample right" href="/tema">
							    	<span>Vissza</span>
							  		</a>

						<a class="buttonDiv_sample right" href="/">
							    	<span>Vissza a nyitólapra</span>
							  		</a>
					</div>
				</div>
			</div>
		</div>

		<% include ../../common/footer %>
		<% include ../../common/script %>
		
	</body>
</html>