<!DOCTYPE html>
<html>
	<head>
		<title>Macskás blog - Felhasználó szerkesztő</title>
		<% include ../../common/head %>
	</head>
	<body>
		
		<% include ../../common/header %>
		
		<div class="szovegdoboz">
			<h1 id="black">User edit</h1>
			<div class="formuser">
				<form method="POST" action="/postUser">
					<% if(mod=="adminNew"){ %>
					<input type="text" name="username" placeholder="Felhasználónév" class="form-control" />
					<input type="text" name="email" placeholder="E-mail cím" class="form-control" />
					<input type="password" name="password" placeholder="Jelszó" class="form-control" />
					<input type="password" name="password_again" placeholder="Jelszó ismét" class="form-control" />
					<label>Admin: </label>
					<input type="checkbox" name="admin" />
					<button type="submit" class="btn btn-default btn-block btn-custom">Küldés</button>
					<% }else if(mod=="adminEdit"){ %>
					<input type="hidden" name="_id" value="<%=user._id %>" />
					<input type="text" name="username" placeholder="Felhasználónév" value="<%=user.username %>" class="form-control" />
					<input type="text" name="email" placeholder="E-mail cím" value="<%=user.email %>" class="form-control" />
					<input type="password" name="password" placeholder="Jelszó" class="form-control" />
					<input type="password" name="password_again" placeholder="Jelszó ismét" class="form-control" />
					<label>Admin: </label>
					<% if(user.admin){ %>
					<input type="checkbox" name="admin" checked />
					<% }else { %>
					<input type="checkbox" name="admin" />
					<% } %>
					<button type="submit" class="btn btn-default btn-block btn-custom">Küldés</button>
					<% }else if(mod=="userEdit"){ %>
					<input type="hidden" name="_id" value="<%=user._id %>" />
					<input type="text" name="username" placeholder="Felhasználónév" value="<%=user.username %>" class="form-control" readonly />
					<input type="text" name="email" placeholder="E-mail cím" value="<%=user.email %>" class="form-control" />
					<input type="password" name="password" placeholder="Jelszó" class="form-control" />
					<input type="password" name="password_again" placeholder="Jelszó ismét" class="form-control" />
					<button type="submit" class="btn btn-default btn-block btn-custom">Küldés</button>
					<% }else { %>
					<p>Váratlan hiba történt</p>
					<% } %>
				</form>
			</div>
		</div>
		<div class="szovegdoboz">
			<div class="btn-group" role="group" aria-label="Basic example">
				<% if(mod=="adminNew"){ %>
				<a class="btn btn-info" href="/users">Vissza</a>
				<% }else if(mod=="adminEdit"){ %>
				<a class="btn btn-info" href="/users">Vissza</a>
				<% }else if(mod=="userEdit"){ %>
				<a class="btn btn-info" href="/owndata">Vissza</a>
				<% } %>
				<a class="btn btn-info" href="/">Vissza a kezdőoldalra</a>
			</div>
		</div>
		
		<% include ../../common/footer %>
		<% include ../../common/script %>
		
	</body>
</html>